USE [master]
GO
/****** Object:  Database [T28-API_JWT_Ex1]    Script Date: 08/02/2021 11:21:03 ******/
CREATE DATABASE [T28-API_JWT_Ex1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T28-API_JWT_Ex1', FILENAME = N'/var/opt/mssql/data/T28-API_JWT_Ex1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T28-API_JWT_Ex1_log', FILENAME = N'/var/opt/mssql/data/T28-API_JWT_Ex1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T28-API_JWT_Ex1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T28-API_JWT_Ex1]
GO
/****** Object:  Table [dbo].[PIEZAS]    Script Date: 08/02/2021 11:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIEZAS](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 08/02/2021 11:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[Id] [char](4) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUMINISTRA]    Script Date: 08/02/2021 11:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUMINISTRA](
	[CodigoPieza] [int] NOT NULL,
	[IdProveedor] [char](4) NOT NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PK_Suministra] PRIMARY KEY CLUSTERED 
(
	[CodigoPieza] ASC,
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 08/02/2021 11:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PIEZAS] ON 

INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (1, N'Pieza1')
INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (2, N'Pieza2')
INSERT [dbo].[PIEZAS] ([Codigo], [Nombre]) VALUES (3, N'Pieza3')
SET IDENTITY_INSERT [dbo].[PIEZAS] OFF
GO
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'1   ', N'Proveedor 1')
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'10  ', N'Proveedor 10')
INSERT [dbo].[PROVEEDORES] ([Id], [Nombre]) VALUES (N'2   ', N'Proveedor 2')
GO
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (1, N'10  ', 110)
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (2, N'8   ', 1)
INSERT [dbo].[SUMINISTRA] ([CodigoPieza], [IdProveedor], [Precio]) VALUES (2, N'9   ', 109)
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserId], [FirstName], [LastName], [UserName], [Email], [Password], [CreatedDate]) VALUES (1, N'Piezas', N'Admin', N'PiezasAdmin', N'admin@piezas.com', N'$admin@2021', CAST(N'2021-02-08T11:28:16.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
ALTER TABLE [dbo].[UserInfo] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([CodigoPieza])
REFERENCES [dbo].[PIEZAS] ([Codigo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SUMINISTRA]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDORES] ([Id])
ON UPDATE CASCADE
GO
USE [master]
GO
